

:root{

  // Couleur de base
  --color-white: #fff;
  --color-black: #000;

  // Couleurs du projet

  --color-link: #202c4a;
  --color-link-visited: #8b8b97;
  --color-link-hover: #e53847;
  --color-link-active: #6c757d;
  --color-link-focus: #6c757d;

  --color-bg-primary: tomato;
  --color-bg-secondary: #f0f0f0;
  --color-bg-tertiary: #202c4a;

  --color-text-primary:   #343a40;
  --color-text-secondary: #ffffff;
}